@use '../core/variables' as *;
@use '../core/mixins' as *;

.c-footer {
  padding: 40px 0;

  &__info {
    margin-top: 20px;
     @include mq(tablet-max) {
      margin-top: 0px;
    }
    &-logo {
      margin-bottom: 20px;
    }

    // Padding variations
    &.pad_right70 {
      @include mq('tablet') {
        padding-right: 70px;
      }
    }

    &.pad_left40 {
      @include mq('tablet') {
        padding-left: 40px;
      }
    }

    // Corporate address special case
    &.corporate-address {
      margin-bottom: 26px;

      @include mq('tablet') {
        margin-bottom: 28px;
      }

      @include mq('desktop-min') {
        margin-bottom: 32px;
      }

      @include mq('desktop-wide') {
        margin-bottom: 40px;
      }

      .c-footer__info-content {
        margin-top: 26px;

        @include mq('tablet') {
          margin-top: 28px;
        }

        @include mq('desktop-min') {
          margin-top: 32px;
        }

        @include mq('desktop-wide') {
          margin-top: 40px;
        }
      }
    }

    // Unified content block
    &-content {
      margin-bottom: 20px;
      @include mq('desktop-min') {
        @include flexbox;
        @include flex-direction(column, vertical);
      }

      .head {
        color: var(--color-secondary);
        font-weight: 700;
        @include font-size(14);
        margin-bottom: 8px;

        @include mq('tablet') {
          @include font-size(16, 1.6);
        }

        @include mq('desktop-min') {
          margin-bottom: 0px;
          min-width: 150px;
        }
      }

      .desc {
        color: var(--color-black2);
        line-height: 1.6;
      }

      p {
        .u-link {
          &:hover {
            color: var(--color-primary);
          }
        }
      }

      // spacing for sibling content
      // +.c-footer__info-content {
      //   margin-top: 20px;
      // }

      // Footer menu
      .footerMenu {
        padding: 0;
        @include flexbox;
        @include flex-direction(column, vertical);
        flex-wrap: wrap;

        &__item {
          list-style: none;
          margin: 5px 0;
           @include mq(tablet-max) {
            padding: 5px 0px;
          }
          svg {
            margin-right: 10px;
          }

          &:hover {
            .footerMenu__item-link {
              color: var(--color-primary);
            }
          }

          &-link {
            color: var(--color-secondary);
            text-decoration: none;
            @include font-size(14);

            @include mq('tablet') {
              @include font-size(16, 1);
            }

            // @include mq('desktop-min') {
            //     @include font-size(18, 1);
            // }

            // @include mq('desktop-wide') {
            //     @include font-size(19, 1);
            // }
          }

          +.footerMenu__item {
            //border-left: 1px solid var(--color-secondary);

            margin-top: 4px;
          }
        }
      }

      // Text and links
      p,
      .u-link {
        color: var(--color-black2);
      }

      .u-link {
        text-decoration: none;
      }


    }
  }

  &__bottom {
    border-top: 1px solid rgba(99, 100, 102, 0.3);
    padding-top: 20px;

    p {
      color: var(--color-secondary);
      @include font-size(14);
    }
  }
}


// Social icons
.socialMenu {
  margin-top: 12px;
}

.social__wrapper {
  @include flexbox;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin-bottom: 0;

  &--item {
    list-style: none;
    background: #939598;
    @include border-radius(50%);
    @include size(30px);
    min-width: 30px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include transition(all 0.4s ease);

    &:hover {
      transform: rotate(360deg);
    }
  }
}