@use '../core/variables' as *;
@use '../core/mixins' as *;

.c-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: transform 0.6s ease-in-out;
  padding-top: 10px;



  &.hide {
    transform: translateY(-100%);
    /* move header up */
  }

  &.show {
    transform: translateY(0);
    /* slide header down */
  }

  &__main {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }

  .mobile-toggle {
    display: block;
    outline: none;
    border: none;
    padding: 4px;
    border-radius: 8px;
    font-size: 40px;
    color: hsla(0, 0%, 100%, .8);
    background: transparent !important;

    @include mq('tablet-max') {
      display: none;
    }
  }

  .mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 11;
    top: 0;
    padding-top: 70px;

    >ul {
      >li {
        position: relative;

        >button,
        >.mobMenu,
        >.accordion-header {
          display: block;
          padding: 15px 20px;
          color: var(--color-black);
          font-weight: var(--fontSemiBold);
          text-transform: uppercase;
          background-color: transparent;
          border: none;
          outline: none;
          text-decoration: none;
          position: relative;
          width: 100%;
          text-align: left;

          @include font-size(16);
        }

        >span,
        .mobMenu__icon {
          position: absolute;
          right: 25px;
          top: 13px;
          font-size: 28px;
          line-height: 1;
          font-weight: 600;
          color: var(--color-black);

          svg {
            width: 26px;
          }
        }

        .submenu {
          display: block;
          padding: 10px;
          color: var(--color-black);
          font-weight: var(--fontSemiBold);
          text-transform: uppercase;
          background-color: transparent;
          border: none;
          outline: none;
          text-decoration: none;
          position: relative;
          width: 100%;
          text-align: left;

          @include font-size(14);

          .mobMenu {
            border: none;
            outline: none;
            text-decoration: none;
          }

          .mobMenu__icon {
            right: 28px;
            top: 8px;

            svg {
              width: 18px;
            }
          }
        }

        ul {
          margin-left: 20px;

          >li {
            >a {
              display: block;
              padding: 10px 25px;
              color: var(--color-black);
              font-weight: var(--fontRegular);
              @include font-size(15);
              text-transform: uppercase;
              background-color: transparent;
              border: none;
              outline: none;
              text-decoration: none;
              position: relative;
              width: 100%;
              text-align: left;
            }
          }
        }
      }
    }
  }

  &__nav {
    flex: 1;


    @include mq('desktop-wide-max') {
      max-width: 75%;
    }

    &.desktop-menu {
      display: none;

      @include mq('tablet-max') {
        @include flexbox;
        @include justify-content(flex-end);
      }
    }
  }

  &__menu {
    >ul {
      @include flexbox();
      //position: relative;

      >li {
        &.active .mega-panel {
          display: block;
        }

        >a {
          display: block;
          padding: 20px 15px 25px;
          color: var(--color-white);
          font-weight: var(--fontMedium);
          text-transform: uppercase;
          text-decoration: none;
          position: relative;


          @include font-size(16);

          @include mq('tablet') {
            padding: 20px 15px 25px;
            @include font-size(16);
          }

          @include mq('desktop-wide') {
            padding: 25px 20px 35px;
            @include font-size(17);
          }

          @include mq('desktop-wide-max') {
            @include font-size(18);
          }



          &:before {
            content: '';
            position: absolute;
            bottom: 22px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: var(--color-primary);
            transition: width 0.3s ease;

            @include mq('desktop-wide') {
              bottom: 32px;
            }
          }
        }

        &:hover>a {
          color: var(--color-primary);

          &:before {
            width: calc(100% - 40px);
          }
        }

        .mega-panel {
          display: none;
          position: absolute;
          top: 100%;
          right: 0px;
          width: 100%;
          min-width: 850px;
          background-color: var(--color-white);
          box-shadow: 0 13px 12.3px rgba(0, 0, 0, 0.05);
          //padding: 20px;

          z-index: 10;

          &__description {
            @include font-size(20);
            font-weight: var(--fontLight);
            color: var(--color-secondary);
            margin-bottom: 15px;
          }
        }

        /* old mega menu design
        .mega-menu {
          // border-left: 3px solid var(--color-primary);
          // padding-left: 35px;
          // min-height: 150px;

          // &.business {
          //   min-height: 350px;
          // }

          &-title {
            @include font-size(20);
            text-transform: uppercase;
            color: var(--color-secondary);
            padding-bottom: 10px;
            margin: 30px 20px 10px;
            display: block;
            border-bottom: 3px solid var(--color-primary);
          }

          &__inner {
            background-color: var(--color-grey3);
            height: 100%;
            padding: 40px 0;

            &_menu {
              height: 400px;
              overflow-y: auto;
              scrollbar-width: thin;
              -webkit-overflow-scrolling: touch;
            }

            &_image {
              @include flexbox;
              @include align-items(center);
              @include justify-content(center);

              img {
                margin: 20px;
              }
            }

            ul {
              li {
                @include flexbox;
                padding: 0px 15px;

                .left_icon {
                  padding-top: 10px;
                }

                a {
                  font-weight: var(--fontRegular);
                  text-decoration: none;
                  color: var(--color-secondary);
                  display: block;
                  padding: 10px 15px;
                  @include font-size(16);
                  text-transform: uppercase;
                  position: relative;

                  &:hover {
                    font-weight: var(--fontMedium);
                    color: var(--color-primary);
                  }
                }
              }
            }
          }

          ul {
            position: relative;

            >li {
              margin: 0 20px;

              +li {
                border-top: 1px solid var(--color-grey2);
              }

              >a {
                font-weight: var(--fontRegular);
                padding: 15px 0;
                text-decoration: none;
                color: var(--color-secondary);
                display: block;
                text-transform: uppercase;
                position: relative;

                .right_icon {
                  position: absolute;
                  right: 0;
                }

                @include transition(all, 0.3s, ease);

                @include mq('tablet') {
                  @include font-size(17);
                }

                @include mq('desktop-wide') {
                  @include font-size(18);
                }

                @include mq('desktop-wide-max') {
                  @include font-size(20);
                }
              }

              &:hover {
                >a {
                  color: var(--color-primary);

                  .right_icon {
                    position: absolute;

                    svg * {
                      stroke: var(--color-primary);
                    }
                  }
                }
              }

              >ul {
                position: absolute;
                display: none;
                top: 0;
                left: 100%;
                min-width: 200px;

                li {
                  border-top: none;
                  padding-left: 20px;
                }
              }

              &:hover {
                >ul {
                  display: block;
                }
              }
            }
          }
        } */

        .mega-menu {

          &-title,
          &-itemMenu {
            @include font-size(20);
            text-transform: uppercase;
            color: var(--color-secondary);
            padding-bottom: 10px;
            display: block;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--color-primary);
          }

          &__description {
            @include font-size(18);
            line-height: 1.5;
            font-weight: var(--fontLight);
            color: var(--color-secondary);
          }

          &-itemMenu {
            text-transform: capitalize;
            border-bottom-color: var(--color-grey2)
          }

          ul {
            li {
              @include flexbox;
              //padding: 0px 15px;
              width: 100%;

              .left_icon {
                padding-top: 7px;
              }

              a {
                font-weight: var(--fontRegular);
                text-decoration: none;
                color: var(--color-secondary);
                display: block;
                padding: 8px 15px;
                @include font-size(16);
                position: relative;
                width: 100%;

                &:hover {
                  font-weight: var(--fontMedium);
                  color: var(--color-primary);
                }
              }
            }
          }
        }

        // &:hover .mega-panel {
        //   display: block;
        // }
      }
    }
  }


  &.header-sticky, &.mega-menu--active {
    background-color: var(--color-white);
    box-shadow: 0 13px 12.3px rgba(0, 0, 0, 0.05);

    .c-header__menu>ul>li>a {
      color: var(--color-secondary);

      &:before {
        background-color: var(--color-primary);
      }

      &:hover {
        color: var(--color-primary);
      }

    }

    .mobile-toggle {
      color: rgba(0, 0, 0, .8)
    }
  }

  &.mega-menu--active {
    .c-header__menu-list.active {
      .mega-panel {
        display: block;
      }
    }
  }
}