@use "variables" as *;
@use "mixins" as *;


.scrollBar-smallWidth {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    @include border-radius(10px);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    @include border-radius(10px);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.5);
  }
}

// Font increase classes (4 levels)
.font_increase_1 {
  --font-increase: 1;
}

.font_increase_2 {
  --font-increase: 2;
}

.font_increase_3 {
  --font-increase: 3;
}

.font_increase_4 {
  --font-increase: 4;
}

// Font decrease classes (4 levels)
.font_decrease_1 {
  --font-decrease: 1;
}

.font_decrease_2 {
  --font-decrease: 2;
}

.font_decrease_3 {
  --font-decrease: 3;
}

.font_decrease_4 {
  --font-decrease: 4;
}

// Reset class
.font_reset {
  --font-increase: 0;
  --font-decrease: 0;
}

body {
  @include size(100%);
  // overscroll-behavior-y: none;
  // scrollbar-width: thin;
  // overscroll-behavior-y: none;
  background-color: var(--color-white);
  color: var(--color-secondary);
  font-family: var(--font-primary);
  @include font-size(16);
  overflow-x: hidden;

  // * {
  //   @extend .scrollBar-smallWidth;
  // }

  &.modal-open {
    overflow: hidden;

    main {
      z-index: 120;
    }
  }
}

main {
  position: relative;
  z-index: 10;

  @media screen and (max-width: 992px) {
    overflow-x: hidden;
  }
}