@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../components/generic/sizes' as *;

.swiper-carousel {
  padding-bottom: 32px;
  max-width: 1500px;
  position: relative;
margin: 0 auto;
max-width: 100%;
overflow: hidden;
  .swiper-slide {
    width: 692px;
    height: 400px;
    border-radius: 8px;
    // Slide background to match main background
    background: #18212b;
    max-width: calc(100% - 48px);
    overflow: hidden;
    @include mq(desktop){
        height: 464px;
    }
  }
  .swiper-slide,
  swiper-slide {
    position: relative;
  }
  .swiper-carousel-animate-opacity {
    height: 100%;
    position: relative;
    overflow: hidden;
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(38, 38, 38, 0) 35%, #474646 100%);
        overflow: hidden;
    }
  }
  .swiper-pagination-bullets {
    bottom: 0;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
   
  }
  .slide-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    z-index: 9;
    @include mq(tablet-max){
        padding-bottom: 60px;
    }
    @include mq(desktop){
        padding-bottom: 85px;
    }
    h2 {
      margin: 0;
      font-weight: var(--fontSemiBold) !important;
      @include font-size(24);
      line-height: 1.1;
      color: var(--color-white);
      text-align: center;
      @include mq(tablet-max){
        @include font-size(28);
      }
      @include mq(desktop){
        @include font-size(32);
      }
    }
    p {
      margin: 8px 0 0;
      opacity: 0.65;
      font-size: 14px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
 
 
 
}