@use '../../core/variables' as *;
@use '../../core/mixins' as *;
@use '../generic/sizes' as *;

.cus-container {
    @include mq(desktop-wide-max) {
        max-width: 1440px;
    }
}

.cus-shadow {
    box-shadow: 0px 16px 13.8px 0px #00000040 !important;

}

body {
    overflow-x: hidden;
}

.bg-gray {
    background: #F7F6F6;
}

.bg-green {
    background: var(--color-accent-green);
}

.bg-gray2 {
    background: #ededed;
}

.bg-gray3 {
    background: #eee;
}

.bg-gray4 {
    background: #F6F4F4;
}

.bg-gray5 {
    background: var(--color-grey);
}

.ratio-3x4 {
    --bs-aspect-ratio: calc(3 / 4 * 100%);
}

.clr-gray {
    color: var(--color-secondary);
}


.c-innerSection {
    padding: 30px 0px !important;

    @include mq(tablet-max) {
        padding: 50px 0px !important;
    }

    @include mq(desktop-wide) {
        padding: 70px 0px !important;
    }

    @include mq(desktop-wide-max) {
        padding: 90px 0px !important;
    }
}

.c-pt75 {
    padding: 25px 0px !important;

    @include mq(tablet) {
        padding: 35px 0px !important;
    }

    @include mq(tablet-max) {
        padding: 45px 0px !important;
    }

    @include mq(desktop) {
        padding: 65px 0px !important;
    }

    @include mq(desktop-wide) {
        padding: 75px 0px !important;
    }
}

.padRight-50 {
    @include mq(desktop) {
        padding-right: 30px;
    }

    @include mq(desktop-wide) {
        padding-right: 50px;
    }
}

.padRight-40 {
    padding-right: 20px;

    @include mq(tablet-max) {
        padding-right: 30px;
    }

    @include mq(desktop) {
        padding-right: 40px;
    }
}

.pb-80 {
    padding-bottom: 30px !important;

    @include mq(tablet) {
        padding-bottom: 50px !important;
    }

    @include mq(desktop) {
        padding-bottom: 60px !important;
    }

    @include mq(desktop-wide) {
        padding-bottom: 80px !important;
    }
}

.gp-xl {
    padding: 30px 0px 50px 0px;

    @include mq(tablet-max) {
        padding: 50px 0px 70px 0px;
    }

    @include mq(desktop) {
        padding: 70px 0px 90px 0px;
    }

    @include mq(desktop-wide) {
        padding: 90px 0px 100px 0px;
    }

    @include mq(desktop-wide-max) {
        padding: 125px 0px 100px 0px;
    }


}

.pl-90 {
    @include mq(tablet-max) {
        padding-left: 50px;
    }

    @include mq(desktop-wide) {
        padding-left: 70px;
    }

    @include mq(desktop-wide-max) {
        padding-left: 90px;
    }
}

.pr-90 {
    @include mq(tablet-max) {
        padding-right: 50px;
    }

    @include mq(desktop-wide) {
        padding-right: 70px;
    }

    @include mq(desktop-wide-max) {
        padding-right: 90px;
    }
}

.pb-40 {
    padding-bottom: 20px;

    @include mq(tablet-max) {
        padding-bottom: 30px;
    }

    @include mq(desktop) {
        padding-bottom: 40px;
    }
}


.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-80 {
    margin-top: 30px;

    @include mq(tablet) {
        margin-top: 40px;
    }

    @include mq(tablet-max) {
        margin-top: 50px;
    }

    @include mq(desktop) {
        margin-top: 70px;
    }

    @include mq(desktop-wide) {
        margin-top: 80px;
    }

}

.mb-60 {
    margin-bottom: 30px;

    @include mq(tablet-max) {
        margin-bottom: 40px;
    }

    @include mq(desktop) {
        margin-bottom: 50px;
    }

    @include mq(desktop-wide) {
        margin-bottom: 60px;
    }
}

.mb-35 {
    margin-bottom: 20px;

    @include mq(tablet-max) {
        margin-bottom: 25px;
    }

    @include mq(desktop) {
        margin-bottom: 35px;
    }
}

.mb-40 {
    margin-bottom: 20px;

    @include mq(tablet-max) {
        margin-bottom: 30px;
    }

    @include mq(desktop) {
        margin-bottom: 40px;
    }
}

.mb-55 {
    margin-bottom: 20px;

    @include mq(tablet-max) {
        margin-bottom: 40px;
    }

    @include mq(desktop-wide) {
        margin-bottom: 55px;
    }

}

.mb-70 {
    margin-bottom: 30px;

    @include mq(tablet-max) {
        margin-bottom: 45px;
    }

    @include mq(desktop-wide) {
        margin-bottom: 55px;
    }

    @include mq(desktop-wide-max) {
        margin-bottom: 70px;
    }

}

.mb-100 {
    margin-bottom: 40px;

    @include mq(tablet-max) {
        margin-bottom: 60px;
    }

    @include mq(desktop) {
        margin-bottom: 70px;
    }

    @include mq(desktop-wide) {
        margin-bottom: 80px;
    }

    @include mq(desktop-wide-max) {
        margin-bottom: 100px;
    }
}

.pad_left96 {
    @include mq(tablet-max) {
        padding-left: 45px;
    }

    @include mq(desktop) {
        padding-left: 55px;
    }

    @include mq(desktop-wide) {
        padding-left: 70px;
    }

    @include mq(desktop-wide-max) {
        padding-left: 96px;
    }
}

.commonSection {
    padding: 42px 0px;

    @include mq(tablet-max) {
        padding: 55px 0px;
    }

    @include mq(desktop-wide) {
        padding: 70px 0px;
    }

    &.v2 {
        @include mq(desktop-wide-max) {
            padding: 93px 0px;
        }
    }

    &.v3 {
        @include mq(desktop-wide-max) {
            padding: 110px 0px;
        }
    }

    &.v4 {
        @include mq(desktop) {
            padding: 90px 0px;
        }

        @include mq(desktop-wide) {
            padding: 110px 0px;
        }

        @include mq(desktop-wide-max) {
            padding: 145px 0px 110px 0px;
        }
    }

    &.v5 {
        @include mq(desktop) {
            padding: 90px 0px;
        }

        @include mq(desktop-wide) {
            padding: 110px 0px;
        }

        @include mq(desktop-wide-max) {
            padding: 127px 0px;
        }
    }

    &.v6 {
        @include mq(desktop) {
            padding: 90px 0px;
        }

        @include mq(desktop-wide) {
            padding: 110px 0px;
        }

        @include mq(desktop-wide-max) {
            padding: 130px 0px;
        }

    }

}

.commonSection-sm {
    padding: 40px 0px;

    @include mq(tablet) {
        padding: 60px 0px;
    }

    @include mq(tablet-max) {
        padding: 80px 0px;
    }

    @include mq(desktop) {
        padding: 100px 0px;
    }

    @include mq(desktop-wide) {
        padding: 120px 0px;
    }
}

.commonSection-md {
    padding: 45px 0px;

    @include mq(tablet-max) {
        padding: 70px 0px;
    }

    @include mq(desktop) {
        padding: 90px 0px;
    }

    @include mq(desktop-wide) {
        padding: 110px 0px;
    }

    @include mq(desktop-wide-max) {
        padding: 130px 0px;
    }
}

.commonSection-lg {
    padding: 60px 0px;

    @include mq(tablet-max) {
        padding: 90px 0px;
    }

    @include mq(desktop) {
        padding: 110px 0px;
    }

    @include mq(desktop-wide) {
        padding: 130px 0px;
    }

    @include mq(desktop-wide-max) {
        padding: 150px 0px;
    }
}

.cursor-pointer {
    cursor: pointer;

    &.widthVideo {
        position: relative;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            background: url('/images/icons/play.svg');
            background-size: 60px 60px;
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }
}

.pt-110 {
    padding-top: 50px;

    @include mq(tablet-max) {
        padding-top: 70px;
    }

    @include mq(desktop-wide) {
        padding-top: 90px;
    }

    @include mq(desktop-wide-max) {
        padding-top: 110px;
    }
}



.generic_spacer_container {
    padding-top: 50px;

    @include mq(desktop) {
        padding-top: 65px;
    }

    @include mq(desktop-wide) {
        padding-top: 80px;
    }

    @include mq(desktop-wide-max) {
        padding-top: 150px
    }

    &.v2 {
        @include mq(desktop-wide-max) {
            padding-top: 250px
        }
    }

    &.v3 {
        padding-top: 40px;

        @include mq(desktop) {
            padding-top: 50px;
        }

        @include mq(desktop-wide) {
            padding-top: 60px;
        }

        @include mq(desktop-wide-max) {
            padding-top: 80px
        }
    }

    &.v4 {
        padding-top: 50px;

        @include mq(desktop) {
            padding-top: 65px;
        }

        @include mq(desktop-wide) {
            padding-top: 80px;
        }

        @include mq(desktop-wide-max) {
            padding-top: 100px
        }
    }

    &.v5 {
        padding-top: 80px;

        @include mq(desktop) {
            padding-top: 100px;
        }

        @include mq(desktop-wide) {
            padding-top: 130px;
        }

        @include mq(desktop-wide-max) {
            padding-top: 160px
        }
    }

    &.v6 {
        padding-bottom: 50px;

        @include mq(desktop) {
            padding-bottom: 65px;
        }

        @include mq(desktop-wide) {
            padding-bottom: 80px;
        }

        @include mq(desktop-wide-max) {
            padding-bottom: 150px
        }
    }

    &.genric_bottom_spacer {
        padding-bottom: 80px;

        @include mq(tablet-max) {
            padding-bottom: 120px
        }

        @include mq(desktop) {
            padding-bottom: 150px;
        }

        @include mq(desktop-wide) {
            padding-bottom: 180px
        }

        @include mq(desktop-wide-max) {
            padding-bottom: 220px;
        }

        &.v-2 {
            @include mq(tablet-max) {
                padding-bottom: 100px
            }

            @include mq(desktop) {
                padding-bottom: 120px;
            }

            @include mq(desktop-wide) {
                padding-bottom: 150px
            }

            @include mq(desktop-wide-max) {
                padding-bottom: 170px;
            }

        }

        &.v-3 {
            @include mq(tablet-max) {
                padding-bottom: 60px
            }

            @include mq(desktop) {
                padding-bottom: 80px;
            }

            @include mq(desktop-wide) {
                padding-bottom: 100px
            }

            @include mq(desktop-wide-max) {
                padding-bottom: 120px;
            }

        }
    }
}


.listView {
    &__item {
        @include flexbox;
        gap: 5px;
        @include align-items(flex-start);
        margin-bottom: 15px;

        @include mq(desktop-min) {
            margin-bottom: 0px;
        }

        &-info {
            //max-width: calc(100% - 150px);
            flex: 1;

            .desc {
                width: 100%;
            }
        }

        &-media {
            img {
                width: 100%;
                height: auto;
                max-width: 90px;
                margin-right: 10px;
            }

            // &.withIcon{
            //     padding: 0px 10px 0px 15px;
            //     @include mq(tablet-max){
            //         padding: 0px 10px 0px 0px;
            //     }
            //     img{
            //         @include size(96px);
            //         min-width: 96px;
            //         max-width: 96px
            //     }
            // }
        }
    }

    &.v2 {
        .listView__item {

            &-info {
                .count {
                    padding-right: 10px;
                    display: inline-block;
                }

                .desc {
                    max-width: 350px !important;
                }
            }
        }
    }
}

.c-mapView {
    flex-direction: column-reverse;
    @include flexbox;

    @include mq(desktop) {
        @include flex-direction(row, horizontal);
        @include justify-content(center);
    }

    &__sidebar {

        width: 100%;
        padding: 20px 0;
        position: static;

        @include mq(desktop) {
            width: 350px;
        }

        button {
            padding: 12px 20px;
            //border-color: #ccc;
            @include border-radius(8px);
            border: none !important;
            @include font-size(14);
            z-index: 999;
            position: relative;
            background-color: transparent;
            cursor: pointer;
            color: var(--color-secondary);
            @include transition(all 0.3s ease-in);

            // &::before{
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     background: var(--color-primary);
            //     height: 100%;
            //     width: 0%;
            //      @include transition(all 0.3s ease-in);
            //       @include border-radius(8px);
            // }
            &:hover {
                @include transition(all 0.3s ease-in);
                @include border-radius(8px);
            }

            &:hover {
                @include transition(all 0.3s ease-in);

                &::before {
                    width: 100%;
                }

                span {
                    color: var(--color-primary);
                }
            }

            .content {
                @include flexbox;
                @include align-items(center);
                gap: 8px;
            }

            >span {
                @include font-size(16);
                position: relative;
                z-index: 1000;
            }

            @include mq(desktop) {
                position: absolute;
                top: 50px;
                right: 200px;

            }

        }

        h2 {
            display: none;
        }

        ul {
            margin-top: 30px;

            @include mq(tablet) {
                @include flexbox();
                flex-wrap: wrap;
            }

            li {
                padding: 12px 0;
                cursor: pointer;
                border-bottom: 1px solid rgba(68, 97, 131, 0.26);
                color: #636466;
                transition: all 0.2s ease-in-out;

                @include mq(tablet) {
                    width: 50%;
                }

                @include mq(desktop) {
                    width: 100%;
                }

                &:hover {
                    color: var(--color-primary);
                }

                &.is-active {
                    color: var(--color-primary);
                }

                &:nth-last-child(1) {
                    border-bottom: unset;

                    @include mq(tablet) {
                        border-bottom: 1px solid rgba(68, 97, 131, 0.26);
                    }
                }
            }


        }
    }

    &__container {
        position: relative;
        top: 30px;
        height: 400px;

        @include mq(desktop) {
            height: 600px;
        }

        >div {
            height: 100%;
        }

        svg {
            width: 100%;
            position: relative;
            height: 100%;

            @include mq(desktop) {
                width: 900px;

            }
        }

        .map-points {
            position: absolute;

            .icon-map-pin {
                font-size: 1.5rem;
                color: var(--color-black);
                display: none;
            }

            &.in-jh {
                top: 176px;
                right: 148px;

                @include mq(tablet) {
                    top: 174px;
                    right: 311px;

                }

                @include mq(tablet-max) {
                    top: 175px;
                    right: 430px;
                }

                @include mq(desktop) {
                    top: 266px;
                    right: 432px;
                }
            }

            &.in-ct {
                top: 187px;
                right: 165px;

                @include mq(tablet) {
                    top: 185px;
                    right: 330px;
                }

                @include mq(tablet-max) {
                    top: 189px;
                    right: 455px;
                }

                @include mq(desktop) {
                    top: 50%;
                    right: 479px;
                }
            }

            &.in-od {
                top: 200px;
                right: 152px;

                @include mq(tablet) {
                    top: 205px;
                    right: 317px;
                }

                @include mq(tablet-max) {
                    top: 200px;
                    right: 434px;

                }

                @include mq(desktop) {
                    top: 309px;
                    right: 440px;
                }
            }

            &.af-za {
                bottom: 68px;
                right: 38%;

                @include mq(tablet) {
                    bottom: 67px;
                    right: 44%;
                }

                @include mq(tablet-max) {
                    bottom: 70px;
                    right: 45%;
                }

                @include mq(desktop) {
                    bottom: 104px;
                    right: 44%;
                }
            }

            &.af-mz {
                bottom: 20px;
                right: 38%;

                @include mq(tablet) {
                    bottom: 29px;
                    right: 43%;
                }

                @include mq(tablet-max) {
                    bottom: 27px;
                    right: 45%;
                }

                @include mq(desktop) {
                    right: 44%;
                    bottom: 33px;
                }
            }

            &.af-bw {
                bottom: 130px;
                left: 200px;

                @include mq(phone-wide) {
                    bottom: 109px;
                    left: 290px;
                }

                @include mq(phablet) {
                    left: 290px;
                }

                @include mq(tablet-small) {
                    left: 290px;
                }

                @include mq(tablet) {
                    left: 380px;
                }

                @include mq(tablet-max) {
                    right: 38%;
                }

                @include mq(desktop) {
                    bottom: 163px;
                }
            }

            &.om-so {
                left: 515px;
                top: 25px;
            }

            &.om-du {
                left: 585px;
                top: 355px;
            }

            &.ch-os {
                left: 580px;
                top: 220px;
            }
        }
    }
}

.responsive-space-30 {
    margin-top: 30px;

    @include mq(tablet-max) {
        margin-top: 0;
    }
}

ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.c-list__wrapper {
    &--grid {
        margin: 0;
        padding: 0;

        &-item {
            list-style: none;
            @include transition(all 0.3s ease-in);

            &-link {
                text-decoration: none;
            }

            &:hover {
                @include transform(translateX(30px));

                .c-list__wrapper--grid-item-link {
                    .link-title {
                        color: var(--color-accent-blue) !important;
                    }
                }
            }

            +.c-list__wrapper--grid-item {
                margin-top: 15px;

            }
        }
    }

}

.cus-size {
    width: 100%;

    @include mq(desktop) {
        max-width: 466px;

    }

    &.v2 {
        @include mq(desktop) {
            max-width: 528px;

        }
    }

    &.v3 {
        @include mq(desktop) {
            max-width: 480px;

        }
    }

    &.v4 {
        @include mq(desktop) {
            max-width: 545px;
        }
    }

    &.v5 {
        @include mq(desktop) {
            max-width: 448px;
        }
    }

}

.lh-70 {
    line-height: 1.16;
}

.mb-45 {
    margin-bottom: 20px;

    @include mq(tablet-max) {
        margin-bottom: 35px;
    }

    @include mq(desktop) {
        margin-bottom: 45px;
    }
}

.justify-end {
    @include mq(desktop) {
        @include justify-content(flex-end);
    }
}

.c-filterView {
    .input-group {
        .form-control {
            padding: 15px;
            height: 45px;
            background: #d9d9d9;
            border: none;
            border-radius: unset;

            font-weight: var(--fontRegular);
            color: #636466;
            @include font-size(16);

            @include mq('tablet') {
                @include font-size(18);
                height: 55px;
            }

            @include mq('desktop-min') {
                @include font-size(20);
            }

            &:focus {
                box-shadow: unset;
            }

            @include mq(desktop) {
                padding: 18px 38px;
                height: 70px;
            }

            &::placeholder {
                font-weight: var(--fontRegular);
                color: #636466;
                @include font-size(16);

                @include mq('tablet') {
                    @include font-size(18);
                }

                @include mq('desktop-min') {
                    @include font-size(20);
                }


            }
        }

        &-text {
            background: #d9d9d9 !important;
            border: none !important;
            padding: 0 20px;
            border-radius: unset;

            @include mq(desktop) {
                padding: 10px 20px;
            }

            .icon-search {
                @include font-size(20);
                color: #636466;
                cursor: pointer;
            }
        }


    }

    .cus-select {

        background: #E9E9E9;
        font-weight: var(--fontRegular);
        color: #636466;
        padding: 0;


        button {
            border: none;
            padding: 15px;
            height: 45px;
            background: #d9d9d9;
            color: #636466;
            @include font-size(16);

            @include mq('tablet') {
                @include font-size(18);
                height: 55px;
            }

            @include mq('desktop-min') {
                @include font-size(20);
            }


            @include mq(desktop) {
                height: 70px;
                padding: 18px 20px 18px 38px;
            }


        }

        .dropdown-menu {
            background: #d9d9d9;
            border-radius: 0px;
            border: unset;
            padding-block: 0;

            .dropdown-item {
                transition: all ease .3s;

                &:hover {
                    background: #c5c5c5;

                }
            }

            // button {
            //     border-bottom: 1px solid #000;

            // }

            // &:last-child {
            //     border-bottom: unset;
            // }

        }
    }

    .u-btn {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        background: var(--color-primary);
        color: #fff;
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 3px;
        border: none !important;
        height: 100%;

        &.action_btn {
            width: 100%;
            @include font-size(16, 1.6);

            @include mq('desktop-min') {
                @include font-size(18, 1.6);
            }

            @include mq('desktop-wide') {
                @include font-size(20, 1.6);
            }
        }
    }
}

.custom__top-space-xl {
    margin-top: 40px;

    @include mq(tablet-max) {
        margin-top: 60px;
    }

    @include mq(desktop) {
        margin-top: 80px;
    }

    @include mq(desktop-wide-max) {
        margin-top: 110px;
    }
}

.breadcumbs {
    padding: 12px 0px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb-item {
    @include font-size(14);
    position: relative;

    &:hover {
        a {
            color: var(--color-primary);
        }
    }

    &.active {
        .breadcrumb-item a {
            color: #fff;
        }
    }
}

.breadcrumb-item a {
    text-decoration: none;
    color: #ffffffd3;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 30px;
}

/* separator styling */
.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    position: absolute;
    background-image: url(/images/icons/arrow.svg);
    height: 15px;
    width: 9px;
    display: block;
    left: 10px;
    top: 1px;
    background-size: cover
}

.detail__wrapper {
    .genric__info {
        @include flexbox;
        @include align-items(center);

        &-icon {
            width: 50px;
            height: 50px;
            min-width: 50px;
            @include border-radius(50%);
            border: 1px solid #CC9167;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);

            >i {
                @include font-size(25);
                color: #CC9167;
            }
        }

        &-detail {
            padding-left: 15px;
            color: #636466;

            &:hover {
                color: var(--color-primary);
            }
        }

        +.genric__info {
            margin-top: 15px;

            @include mq(tablet-max) {
                margin-top: 25px;
            }
        }
    }
}

.genric__label {
    padding: 17px 18px 17px 15px;
    background: #446183;
    max-width: max-content;
    @include flexbox;
    @include align-items(center);

    &-content {
        color: #fff;
        font-weight: var(--fontBold);
        padding-right: 10px;
        text-transform: capitalize;
        @include font-size(16);

        @include mq(tablet) {
            @include font-size(18);
        }

        @include mq(tablet-max) {
            @include font-size(20);
        }

        @include mq(desktop) {
            @include font-size(21);
        }
    }

    &-icon {
        padding-left: 20px;
        border-left: 1px solid #fff;
    }

    &.mt-45 {
        margin-top: 25px;

        @include mq(tablet-max) {
            margin-top: 35px;
        }

        @include mq(desktop) {
            margin-top: 45px;
        }
    }
}

.c-keyFocus__wrapper {
    &.mt-50 {
        margin-top: 30px;

        @include mq(tablet-max) {
            margin-top: 40px;
        }

        @include mq(desktop) {
            margin-top: 50px
        }
    }

    &-content {
        @include flexbox;
        @include align-items(flex-start);
        flex-wrap: wrap;
        @include flex-direction(row, horizontal);
        // @include flex-direction(column, vertical);
        // @include mq(tablet){

        // }
        &-item {
            width: calc(100% - 50%);
            height: calc(100% - 20px);
            margin-bottom: 20px;
            padding: 10px 20px;
            // @include mq(tablet){
            //     width: calc(100% - 50%);

            // }
            @include mq(tablet-max) {
                flex: 1;
                width: unset !important;
            }

            .media {
                aspect-ratio: 4/4;

                // @include mq(tablet){
                //     aspect-ratio: 4/4;
                // }
                .u-img {
                    max-width: 237px;
                    width: 100%;
                    max-height: 240px;
                    object-fit: contain;
                }
            }

            .title {
                span {
                    display: block;
                    font-weight: var(--fontMedium) !important;

                    @include font-size(16, 1.6);

                    @include mq('desktop-min') {
                        @include font-size(18, 1.6);
                    }

                    @include mq('desktop-wide') {
                        @include font-size(19, 1.6);
                    }
                }

                >.clr-blue {
                    font-weight: var(--fontBold) !important;
                }
            }

            @include mq(tablet) {
                padding: 10px 25px;
            }

            @include mq(tablet-max) {
                padding: 10px 35px;
            }

            @include mq(desktop) {
                padding: 10px 40px;
            }

            @include mq(desktop-wide) {
                padding: 10px 55px;
            }

            &:nth-child(1) {
                padding-left: 0px;
            }

            &:nth-last-child(1) {
                border-right: inherit !important;
            }
        }

        &.withBorder {
            .c-keyFocus__wrapper-content-item {
                @include mq(tablet) {
                    border-right: 1px solid #636466;
                }

            }
        }
    }
}

.c-podcast__wrapper {
    &-media {
        &.custom-videoSize {
            .c-homeSection__people-video {
                height: unset;
                max-width: unset;
            }
        }

        &-label {
            margin: 5px 0px;
            font-weight: var(--fontRegular);

            @include font-size(16, 1.6);

            @include mq('desktop-min') {
                @include font-size(18, 1.6);
            }

            @include mq('desktop-wide') {
                @include font-size(19, 1.6);
            }
        }
    }

    &-content {
        &.pr-77 {
            @include mq(tablet-max) {
                padding-right: 40px;
            }

            @include mq(desktop) {
                padding-right: 55px;
            }

            @include mq(desktop-wide) {
                padding-right: 65px;
            }

            @include mq(desktop-wide-max) {
                padding-right: 77px;
            }
        }

        &.pl-40 {
            @include mq(tablet-max) {
                padding-left: 25px;
            }

            @include mq(desktop) {
                padding-left: 30px;
            }

            @include mq(desktop-wide) {
                padding-left: 40px;
            }
        }

        &.pr-50 {
            @include mq(tablet-max) {
                padding-right: 25px;
            }

            @include mq(desktop) {
                padding-right: 35px;
            }

            @include mq(desktop-wide) {
                padding-right: 50px;
            }
        }

        .cus-width {
            @include mq(tablet-max) {
                max-width: 455px;
            }
        }
    }
}


.pagination-container {
    margin: 30px 0px;

    &.mt-80 {
        @include mq(tablet-max) {
            margin: 50px 0px 0px 0px;
        }

        @include mq(desktop) {
            margin: 60px 0px 0px 0px;
        }

        @include mq(desktop-wide) {
            margin: 80px 0px 0px 0px;
        }
    }


    .pagination {
        align-items: center;

        .previous {
            margin-inline-end: 10px;

            svg {

                &:hover {
                    path {
                        transition: all ease .3s;
                        fill: var(--color-primary);
                    }
                }
            }
        }

        .next {
            margin-inline-start: 10px;

            svg {

                &:hover {
                    path {
                        transition: all ease .3s;
                        fill: var(--color-primary);
                    }
                }
            }
        }

        .pages {
            font-size: 1.2rem;
            margin-inline: 5px;

            &.active {
                color: var(--color-primary);
            }
        }
    }
}

.slider_content {
    @include mq(tablet-max) {
        margin-top: 20px;
    }

    @include mq(desktop) {
        margin-top: 30px;
    }

    @include mq(desktop-wide) {
        margin-top: 50px;
    }
}

.text-uppar {
    text-transform: uppercase !important;
}

.c-bottomBorder {
    border-bottom: 1px solid rgba(99, 100, 102, .3);
    padding-bottom: 30px;

    &.bottom-space {
        padding-bottom: 50px !important;

        @include mq(tablet-max) {
            padding-bottom: 80px !important;
        }

        @include mq(desktop) {
            padding-bottom: 100px !important;
        }
    }

    &.bottom-space-60 {
        padding-bottom: 35px !important;

        @include mq(tablet-max) {
            padding-bottom: 50px !important;
        }

        @include mq(desktop) {
            padding-bottom: 60px !important;
        }
    }
}

.cus-flex-center {
    @include flexbox;
    @include justify-content(flex-start);

    @include mq(tablet-max) {
        @include justify-content(center);
    }
}

.pad_left-95 {
    @include mq(tablet-max) {
        padding-left: 30px;
    }

    @include mq(desktop) {
        padding-left: 50px;
    }

    @include mq(desktop-wide) {
        padding-left: 70px;
    }

    @include mq(desktop-wide-max) {
        padding-left: 95px;
    }
}

.pr-30 {
    padding-right: 30px;
}

.c-twoColumn__wrapper {
    padding: 30px 0px;

    @include mq(tablet-max) {
        padding: 50px 0px;
    }

    @include mq(desktop-wide) {
        padding: 70px 0px
    }

    @include mq(desktop-wide-max) {
        padding: 90px 0px
    }

    .c-twoColumnContainer__media {
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);

        @include mq(tablet-max) {
            @include justify-content(center);
        }

        .u-img {
            max-width: 220px;
            width: 100%;

            @include mq(tablet) {
                max-width: 250px;
            }

            @include mq(tablet-max) {
                max-width: 280px;
            }

            @include mq(desktop) {
                max-width: 300px;
            }

            @include mq(desktop-wide) {
                max-width: 337px;
            }
        }
    }

    .c-twoColumnContainer__content {
        margin-top: 40px !important;

        @include mq(tablet-max) {
            margin-top: 0 !important;
        }

        .hw {
            margin-bottom: 20px;

            @include mq(tablet) {
                margin-bottom: 30px;
            }

            @include mq(tablet-max) {
                margin-bottom: 40px;
            }

            .c-heading-80 {
                line-height: 1.1 !important;
            }

        }
    }
}

.read_more_btn {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: var(--color-primary);
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.5;
    border: none !important;
    background: transparent;

    @include mq(desktop-min) {
        font-size: 1.25rem;
        line-height: 1.75rem;
        line-height: 1.5;
    }

    @include mq(desktop-wide-max) {
        font-size: 1.5rem;
        line-height: 2rem;
        line-height: 1.5;
    }


}

.cus_grid_5 {
    width: 100%;

    @include mq(tablet) {
        width: calc(768px / 12 * 5);
    }

    @include mq(tablet-max) {
        width: calc(992px / 12 * 5);
    }

    @include mq(desktop-min) {
        width: calc(1200px / 12 * 5);
    }

    @include mq(desktop) {
        width: calc(1248px / 12 * 5);
    }

    @include mq(desktop-wide) {
        width: calc(1400px / 12 * 5);
    }

    @include mq(desktop-wide-mid) {
        width: calc(1536px / 12 * 5);
    }

    @include mq(desktop-wide-max) {
        width: calc(1920px / 12 * 5);
    }

    // &.mlr-50{

    // }
}

.custom_grid_wrap {
    height: 100%;
    @include align-items(center);
    @include justify-content(flex-end);
    @include flexbox;
}

.cus_grid_6 {
    width: 100%;

    @include mq(tablet) {
        width: calc(700px / 12 * 6);
    }

    @include mq(tablet-max) {
        width: calc(920px / 12 * 6);
    }

    @include mq(desktop-min) {
        width: calc(1100px / 12 * 6);
    }

    @include mq(desktop-wide) {
        width: calc(1280px / 12 * 6);
    }

    @include mq(desktop-wide-max) {
        width: calc(1440px / 12 * 6);
    }
}

.cus_grid_7 {
    width: 100%;

    @include mq(tablet) {
        width: calc(700px / 12 * 7);
    }

    @include mq(tablet-max) {
        width: calc(920px / 12 * 7);
    }

    @include mq(desktop-min) {
        width: calc(1100px / 12 * 7);
    }

    @include mq(desktop-wide) {
        width: calc(1280px / 12 * 7);
    }

    @include mq(desktop-wide-max) {
        width: calc(1440px / 12 * 7);
    }
}

.noBoder {
    border: none !important;
}

.cus-width700 {
    max-width: 700px;
    width: 100%;
}

.c-highlight__card {
    @include flexbox;
    gap: 20px;

    &-item {
        border-bottom: 2px solid var(--color-secondary);

        &.border-olive {
            border-color: var(--color-accent-olive);
        }

        .c-content-20 {
            padding: 22px 0px;
        }
    }

    &.no-border {
        .c-highlight__card-item {
            border: none !important;
        }
    }
}

.pad_right-70 {
    @include mq(tablet-max) {
        padding-right: 20px;
    }

    @include mq(desktop-min) {
        padding-right: 30px;
    }

    @include mq(desktop) {
        padding-right: 50px;
    }

    @include mq(desktop-wide) {
        padding-right: 70px;
    }

}

.cus_width-390 {
    width: 100%;

    @include mq(tablet) {
        max-width: 450px;
    }

    @include mq(tablet-max) {
        max-width: 390px;
    }
}

.c-line-clamp-3 {
    @include line-clamp(3);
}

/* Container adjustments to maintain layout */
.c-twoColumnContainer__media {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    /* Adjust based on your image size */
}

/* Rotating Circle of People */
.circle {
    position: absolute;
    width: 100%;
    max-width: 450px;
    /* Constrain size for large screens */
    animation: rotateCircle 40s linear infinite;
    z-index: 1;
}

/* Earth Icon with Vertical Oscillation */
.earth-icon {
    position: relative;
    width: 60%;
    max-width: 270px;
    z-index: 2;
    // This div only moves UP and DOWN
    // animation: moveEarthVertical 6s ease-in-out infinite;
}

.earth-inner {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; // Keeps it perfectly round
    border-radius: 50%;
    overflow: hidden; // Clips the spinning map into a circle
    background: #e0d3d3; // Matches the light pinkish-gray globe tint
    box-shadow: inset -20px -20px 50px rgba(0, 0, 0, 0.1), 10px 10px 30px rgba(0, 0, 0, 0.1);

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
        // This image only moves LEFT to RIGHT
        animation: infinite-spinning2 40s linear infinite;
    }
}

.earth-shadow-overlay {
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 0.6;
}

.earth-inner-glow {
    position: absolute;
    inset: 0;
    z-index: 4;
    pointer-events: none;
    /* This creates the dark edges all around the circle */
    background: radial-gradient(circle at 35% 35%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
}

/* Responsive Adjustments */
@media (max-width: 991px) {
    .c-twoColumnContainer__media {
        margin-bottom: 40px;
        min-height: 300px;
    }

    .circle {
        max-width: 300px;
    }

    .earth-icon {
        max-width: 180px;
    }
}

@media (min-width: 1200px) {
    .circle {
        max-width: 500px;
        /* Larger size for desktop */
    }

    .earth-icon {
        max-width: 300px;
    }
}

.bg-blue {
    background: var(--color-accent-blue);
}

.c-key__wrapper {
    @include flexbox;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 20px;

    @include mq(tablet-max) {
        @include flex-direction(column, vertical);
        margin-top: 0px;
    }

    &__item {
        background: var(--color-white);
        padding: 20px 25px;
        width: 100%;

        @include mq(tablet-max) {
            padding: 20px 32px 30px 32px;
        }

        @include mq(desktop) {
            padding: 20px 65px 32px 32px;
        }

        .title {
            margin-bottom: 10px;
        }

        .u-btn {
            text-decoration: none;
        }

        .desc {
            .label {
                padding-right: 5px;
            }
        }
    }

    &.v2 {
        .c-key__wrapper__item {
            padding: 32px;

            .u-btn {
                background: rgba(79, 184, 72, 1);
                @include border-radius(4px);
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                padding: 8px;
            }
        }
    }
}

.c-image_with_overlapping {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 800px;
    position: relative;
    height: 800px;

    &.blue_gradient {
        &:before {
            content: '';
            background: linear-gradient(180deg, rgba(17, 75, 142, 0.8) 5.75%, rgba(102, 102, 102, 0) 40.82%);
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    &.black_gradient {
        &:before {
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0) 100%);
            position: absolute;
            //   z-index: 10;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.4;
        }

    }

    &.image_overlap {
        margin-top: -160px;
        z-index: -1;
    }

    &_content {
        padding-top: 100px;
        position: relative;
        z-index: 11;
    }
}

.horizontal-container {
    height: unset;

    @include mq(desktop) {
        height: 100%;
    }
}

.c-leaderView {
    .c-leader__wrapper {
        &-item {
            img {
                height: 100%;
            }
        }
    }
}

.set-order {
    order: 1;

    @include mq(tablet-max) {
        order: unset;
    }
}

.sliderSpacer {
    padding: 30px 0px;

    @include mq(tablet-max) {
        padding: 50px 0px;
    }

    @include mq(desktop) {
        padding: 70px 0px;
    }

    @include mq(desktop-wide) {
        padding: 8px 0px;
    }
}

.ls-1-2 {
    letter-spacing: 2px;
}

.cus-width-xl {
    max-width: 1051px;
}

.mb-80 {
    margin-bottom: 35px;

    @include mq(tablet-max) {
        margin-bottom: 50px;
    }

    @include mq(desktop) {
        margin-bottom: 80px;
    }
}

.text__overlay {
    height: calc(100% - 120px);
}

.c-tabWrapper {
    .tabbing_wrap {
        &.v1 {

            ul {
                @include justify-content(space-between);

                @include mq(desktop) {
                    margin-bottom: 40px;
                    margin-top: 30px;
                }

                @include mq(desktop-wide) {
                    margin-bottom: 60px;
                    margin-top: 50px;
                }

                @include mq(desktop-wide-max) {
                    margin-bottom: 80px;
                }

                li {
                    flex: 1;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);

                    button {
                        width: 100%;
                        margin: 0px;

                        &.c-sector__item {
                            .c-sector__item_label {
                                color: #A1A1A1;
                            }

                            .c-sector__item_border {
                                background-color: #A1A1A1;
                            }
                        }


                    }
                }
            }

            .tabbing_wrap_content {


                &_item {
                    .c-tabWrapper__info {
                        margin-top: 20px;

                        @include mq(tablet-max) {
                            padding-left: 40px;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }

    &.v2 {
        .tabbing_wrap {
            &.v1 {
                ul {
                    @include justify-content(flex-start);
                    margin-top: 0px;

                    li {
                        flex: unset;

                        button {
                            width: unset;


                        }
                    }
                }

                .tabbing_wrap_content {
                    .c-twoColumnContainer__image {
                        @include mq(tablet-max) {

                            height: 100%;

                            >img {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

.zoomEffect {

    .c-bento__card__wrapper_media,
    .c-card__media,
    .c-twoColumnContainer__image {
        overflow: hidden;

        img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
    }

    &:hover {

        .c-bento__card__wrapper_media,
        .c-card__media,
        .c-twoColumnContainer__image {

            img {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }
        }

        // .c-embla {
        //     &__viewport {
        //         .c-embla__container {
        //             .c-embla__slide {
        //                 .c-productCard__wrapper {
        //                     &-img {


        //                         img {
        //                             -webkit-transform: scale(1.3);
        //                             transform: scale(1.3);
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

    }

    // .c-embla {
    //     &__viewport {
    //         .c-embla__container {
    //             .c-embla__slide {
    //                 .c-productCard__wrapper {
    //                     &-img {
    //                         overflow: hidden;

    //                         img {
    //                             -webkit-transform: scale(1);
    //                             transform: scale(1);
    //                             -webkit-transition: .5s ease-in-out;
    //                             transition: all 0.5s ease-in-out;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

}