@use '../../core/variables' as *;
@use '../../core/mixins' as *;


.c-heading-30 {
    font-weight: var(--fontMedium);

    @include font-size(18);

    @include mq('tablet') {
        @include font-size(20);
    }

    @include mq('desktop-min') {
        @include font-size(24);
    }

    @include mq('desktop-wide') {
        @include font-size(27);
    }

    @include mq('desktop-wide-max') {
        @include font-size(30);
    }
}
.c-heading-36 {
    font-weight: var(--fontMedium);

    @include font-size(20);

    @include mq('tablet') {
        @include font-size(24);
    }

    @include mq('desktop-min') {
        @include font-size(28);
    }

    @include mq('desktop-wide') {
        @include font-size(32);
    }

    @include mq('desktop-wide-max') {
        @include font-size(36);
    }
}

.c-heading-40 {
    font-weight: var(--fontBold);

    @include font-size(20);

    @include mq('tablet') {
        @include font-size(24);
    }

    @include mq('desktop-min') {
        @include font-size(30);
    }

    @include mq('desktop-wide') {
        @include font-size(35);
    }

    @include mq('desktop-wide-max') {
        @include font-size(40);
    }
    &.sm_lh {
        line-height: 1.2 !important;
    }
}

.c-heading-45 {
    font-weight: var(--fontBold);

    @include font-size(22);

    @include mq('tablet') {
        @include font-size(24);
    }

    @include mq('tablet-wide') {
        @include font-size(28);
    }

    @include mq('desktop-min') {
        @include font-size(32);
    }

    @include mq('desktop-wide') {
        @include font-size(38);
    }

    @include mq('desktop-wide-max') {
        @include font-size(45);
    }
}

.c-heading-60 {
    font-weight: var(--fontBold);

    @include font-size(26);

    @include mq('tablet') {
        @include font-size(34);
    }

    @include mq('tablet-wide') {
        @include font-size(40);
    }

    @include mq('desktop-min') {
        @include font-size(48);
    }

    @include mq('desktop-wide') {
        @include font-size(55);
    }

    @include mq('desktop-wide-max') {
        @include font-size(60);
    }
    &.ft_medium{
        font-weight: var(--fontMedium) !important;
    }
    &.ft_light{
        font-weight: var(--fontLight) !important;
    }
    &.sm_lh {
        line-height: 1.2 !important;
    }
}

.c-heading-65 {
    font-weight: var(--fontBold);

    @include font-size(24);

    @include mq('tablet') {
        @include font-size(32);
    }

    @include mq('tablet-wide') {
        @include font-size(42);
    }

    @include mq('desktop-min') {
        @include font-size(52);
    }

    @include mq('desktop-wide') {
        @include font-size(60);
    }

    @include mq('desktop-wide-max') {
        @include font-size(65);
    }

    &.sm_lh {
        line-height: 1.2 !important;
    }
}
.c-heading-80 {
    font-weight: var(--fontLight);

    @include font-size(28);

    @include mq('tablet') {
        @include font-size(36);
    }

    @include mq('tablet-wide') {
        @include font-size(48);
    }

    @include mq('desktop-min') {
        @include font-size(58);
    }

    @include mq('desktop-wide') {
        @include font-size(68);
    }

    @include mq('desktop-wide-max') {
        @include font-size(80);
    }

    &.sm_lh {
        line-height: 1.2 !important;
    }
    &.ft_SemiBold {
        font-weight: var(--fontSemiBold) !important;
    }
    &.ft_light {
        font-weight: var(--fontLight);
    }
     &.lh-normal{
        line-height: 1;
    }
}
.c-heading-90 {
    font-weight: var(--fontSemiBold);

    @include font-size(36);

    @include mq('tablet') {
        @include font-size(46);
    }

    @include mq('tablet-wide') {
        @include font-size(56);
    }

    @include mq('desktop-min') {
        @include font-size(65);
    }

    @include mq('desktop-wide') {
        @include font-size(75);
    }

    @include mq('desktop-wide-max') {
        @include font-size(90);
    }

    &.sm_lh {
        line-height: 1.2 !important;
    }
    &.ft_SemiBold {
        font-weight: var(--fontSemiBold) !important;
    }
    &.ft_light {
        font-weight: var(--fontLight);
    }
     &.lh-normal{
        line-height: 1;
    }
}

.c-content-16 {
    font-weight: var(--fontRegular);

    @include font-size(14);

    @include mq('tablet') {
        @include font-size(16, 1.6);
    }

    @include mq('desktop-min') {
        @include font-size(16, 1.6);
    }

    @include mq('desktop-wide') {
        @include font-size(16, 1.6);
    }
}
.c-content-19 {
    font-weight: var(--fontRegular);

    @include font-size(16, 1.6);

    @include mq('desktop-min') {
        @include font-size(18, 1.6);
    }

    @include mq('desktop-wide') {
        @include font-size(19, 1.6);
    }
}
.c-content-20 {
    font-weight: var(--fontRegular);

    @include font-size(17, 1.6);

    @include mq('desktop-min') {
        @include font-size(19, 1.6);
    }

    @include mq('desktop-wide') {
        @include font-size(20, 1.6);
    }
}
.c-content-24 {
    font-weight: var(--fontRegular);
     line-height: 1.6 !important; 

    @include font-size(16);

    @include mq('tablet') {
        @include font-size(18);
    }

    @include mq('desktop-min') {
        @include font-size(20);
    }

    @include mq('desktop-wide') {
        @include font-size(24);
    }

    &.ft_light {
        font-weight: var(--fontLight);
    }
    &.lh-sm{
        line-height: 1;
    }
    &.cus-width940{
        max-width: 940px;
    }
    &.md-lh{
        line-height: 1.4 !important;
    }
    &.padTop-25{
        @include mq(tablet-max){
            padding-top: 15px;
        }
        @include mq(desktop-wide){
            padding-top: 25px;
        }
    }
    &.cus-width-600{
        @include mq(tablet-max){
            max-width: 600px;
        }
    }
     &.pad_right68{
        @include mq(tablet-max){
            padding-right: 20px;
        }
        @include mq(desktop){
            padding-right: 40px;
        }
        @include mq(desktop-wide){
            padding-right: 68px;
        }
    }
}
.c-content-32 {
    font-weight: var(--fontRegular);

    @include font-size(20);

    @include mq('tablet') {
        @include font-size(24);
    }

    @include mq('desktop-min') {
        @include font-size(28);
    }

    @include mq('desktop-wide') {
        @include font-size(32);
    }

    &.ft_bold {
        font-weight: var(--fontBold);
    }
    .ft_SemiBold {
        font-weight: var(--fontSemiBold) !important;
    }
    &.pad_right68{
        @include mq(tablet-max){
            padding-right: 20px;
        }
        @include mq(desktop){
            padding-right: 40px;
        }
        @include mq(desktop-wide){
            padding-right: 68px;
        }
    }
}

.lh_1-8 {
    line-height: 1.8 !important;
}
.lh_1-5 {
    line-height: 1.5 !important;
}
.ft_light {
    font-weight: var(--fontLight) !important;
}
.ft_regular {
    font-weight: var(--fontRegular) !important;
}
.ft_medium {
    font-weight: var(--fontMedium) !important;
}
.font-medium {
    font-weight: var(--fontMedium) !important;
}
.ft_bold {
    font-weight: var(--fontBold) !important;
}
.ft_semiBold {
    font-weight: var(--fontSemiBold) !important;
}
.ft_extraLight{
    font-weight: var(--fontExtralight) !important;
}
.lh_1-3 {
    line-height: 1.3 !important;
}
.lh_1-2{
    line-height: 1.2 !important;
}
.lh_1-6{
    line-height: 1.6 !important;
}
.lh_1-1{
    line-height: 1.1 !important;
}

.c-heading-48 {
    font-weight: var(--fontBold);

    @include font-size(22);

    @include mq('tablet') {
        @include font-size(24);
    }

    @include mq('tablet-wide') {
        @include font-size(28);
    }

    @include mq('desktop-min') {
        @include font-size(32);
    }

    @include mq('desktop-wide') {
        @include font-size(38);
    }

    @include mq('desktop-wide-max') {
        @include font-size(48);
    }
    &.sm_lh {
        line-height: 1.2 !important;
    }
    
}
.cus-width940{
        max-width: 940px;
    }